:root {
  --primary: #0a3871;
  --secondary: #3289f5;
  --background: #222b45;
  --shadow: #999;
  --warning: #f2a600;
  --success: #065e48;
  --error: #e41749;
  --dark: #151a30;
  --white: white;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  font-family: "Inter", sans-serif;
  color: var(--primary);
  background: var(--white);
  background: linear-gradient(
    138deg,
    rgba(243, 245, 252, 1) 0%,
    rgba(10, 56, 113, 0.45702030812324934) 100%
  );
}

header {
  min-height: 6.5vh;
  max-height: 6.5vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body header img {
  width: 4vh;
  height: 6vh;
  padding-top: 2.5vh;
  padding-left: 10vh;
}

main {
  min-height: 84vh;
  max-height: 84vh;
  padding: 3vh;
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
}

main section {
  display: inline-block;
  min-height: 86vh;
  max-height: 86vh;
}

main section div {
  text-align: center;
}

#input {
  width: 70%;
  float: left;
  position: relative;
}

#loader {
  background-color: var(--background);
  border-radius: 10px;
  opacity: 40%;
  width: 68%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;
  transition: display 0.3s ease-in-out;
}

#preview {
  background-color: var(--white);
  box-shadow: 3px 3px 3px var(--shadow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 29%;
  float: right;
}

#preview div {
  margin: 0 auto;
}

#preview div img {
  width: 25vh;
}

#output {
  width: 29%;
  float: right;
}

.read-only {
  pointer-events: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.card {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.card p {
  font-size: 17px;
  padding-top: 25px;
  z-index: 1000;
}

.card p strong {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary);
  padding-top: 25px;
  z-index: 1000;
}

.info {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
}

footer {
  min-height: 3vh;
  max-height: 3vh;
  margin-top: auto;
  padding: 0.25vh;
  line-height: 2;
  text-align: center;
  font-size: 1vh;
  opacity: 0;
  transition: opacity 2.3s ease-in-out;
}

/* responsive de la pagina*/

@media screen and (max-device-width: 950px) and (max-device-height: 1400px) {
  main section {
    display: block;
    min-height: 40vh;
    max-height: 40vh;
  }
  #input {
    width: 100%;
  }
  #output,
  #preview {
    width: 100%;
    float: left;
    margin-top: 7%;
  }
  #preview div img {
    width: 15vh;
  }
  #loader {
    width: 93%;
    margin-left: -7px;
    min-height: 44vh;
  }
  .card {
    height: 250px;
  }
}

@media screen and (max-device-width: 800px) and (max-device-height: 900px) {
  main section {
    display: block;
    min-height: 40vh;
    max-height: 40vh;
  }
  #input {
    width: 100%;
  }
  #output,
  #preview {
    width: 100%;
    float: left;
    margin-top: 7%;
  }
  #loader {
    width: 92%;
    margin-left: -2px;
    min-height: 44vh;
  }
  .card {
    height: 250px;
  }
}
