/* Sección para el splash de inicio */

.splash {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 99%;
  width: 99%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to bottom,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  border-radius: 10px;
  animation-duration: 3s;
  animation-name: slideinsplash;
  transition: all ease-in-out 600ms;
}

.hidden-splash {
  transition: 0.5s;
  display: none;
}

.splash-header {
  height: 90%;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
