/* animación para las entradas */

@keyframes slideinsplash {
  from {
    height: 0;
    margin-left: 100%;
    width: 0%;
  }
  to {
    height: 99%;
    margin-left: 0%;
    width: 99%;
  }
}

/* responsive de la pagina*/

@media screen and (max-device-width: 950px) and (max-device-height: 1400px) {
  @keyframes slideininput {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes slideinoutput {
    from {
      width: 0;
      float: left;
    }
    to {
      width: 100%;
      float: left;
      margin-top: 7%;
    }
  }
}
