button {
  font-size: 1.5vh;
  width: 200px;
  background: linear-gradient(to bottom, #3289f5 0%, #0a3871 100%);
  color: white;
  cursor: pointer;
  padding: 0.8em 1.2em;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  margin-right: 3vh;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  transition: all 0.2s ease-in-out;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.2s ease-in-out;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  transition: all 0.2s ease-in-out;
}

button:hover svg {
  transform: scale(1.1);
}
