.loader {
  width: 24em;
  height: 1em;
  border-radius: 8px;
  background-color: var(--secondary);
  position: absolute;
}

.loader div {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: var(--primary);
  animation: width7435 1s linear infinite;
  transition: all;
}

@keyframes width7435 {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* responsive */

@media screen and (max-device-width: 950px) and (max-device-height: 1400px) {
  .loader {
    width: 12em;
    height: 1em;
  }
}
